.detail-contain{
    width: 100%;
    height: 65vh;
    /* border: solid 1px black; */
    display: flex;
}
.more-album-contain{
    margin-top: 0em;
    width: 100%;
    height: auto;
    /* border: solid 1px black; */
}
.detail-left-ablum{
    width: 30%;
    height: 100%;
    /* border: solid 1px black; */
    
}
.detail-right-songs{
    width: 70%;
    height: 100%;
    /* border: solid 1px orange; */
    margin-left: 1em;
    overflow-x: hidden;
}
.cont img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin-top: 1em;
    background-size: cover;
}
.cont h1{
    max-width: 100%;
    height: 2em;
}
/* #h3-card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#p-card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */