.contain {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}
.part-left{
    width: 35%;
    height: 100vh;
    padding: 0.5em;
    border-right: 1px solid black;
    background-color: #EAEBE4;
}
.part-right{
    width: 65%;
    height: 100vh;
    background-image: url("https://volna.volkovdesign.com/img/home/slide1.jpg");
    background-size: cover;
}
.back-link{
    display: flex;
}
.content-left{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.content-inner-left{
    width: 80%;
    height: 90vh;
}
.logo-name{
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.form-forgot{
    margin-top: 6em;
}
.form-forgot h4{
    color: #353535;
    font-weight: 500;
    font-size: 1.8em;
}
.form-forgot p{
    width: 80%;
    color: #717171;
}
.form-forgot button{
    width: 100%;
    height: 3em;
    background-color: #F2785C;
    border-radius: 10px;
    margin-bottom: 0.5em;
    transition: transform 0.3s ease-in, color 0.3s ease-in;
}
.form-forgot button:hover{
    transform: scale(1.1);
    color: white;
}

